@media(max-width:490px){

    .wrapper article{
        margin-top: -50px;
    }
    header nav ul{
        display: none;
    }

    .heroimage{
        left: 0px;
        width:100%;
        object-fit: left;
        animation: introload 2.5s forwards;
    }

    @keyframes introload {
        from{
            clip-path: polygon(0 0, 100% 0 ,100% 0, 0 0);
        }
        to{
            clip-path: polygon(0 0, 100% 0 ,100% 100%, 0 100%);
        }
    }

    header a{
        color: #fff;
    }

    .wrapper article h1{
        color: #fff;
    }

    .wrapper article p{
        color: lightgray;
    }

    .wrapper article .arrow{
        margin-top: 10px;
       background-color: #fff;
    }

    #hero{
        margin-top: 310px;
        padding-block:  60px;
    }

    #hero article{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
        justify-content: center;
        gap: 25px;
    }

    #hello{
        padding-block: 60px;
    }

    #hello article{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
        justify-content: center;
        gap: 25px;

    }

    #hi{
        padding-bottom: 50px;
        padding-block: 60px;
    }

    
    #hi article{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
        justify-content: center;
        gap: 25px;
    }
    
}